@keyframes anim {
    from {
        top:0%;
    }
    to {
        top:100%;
    }
}

.cardContainer {
    text-align: center;
    background-color: white;
    width: 300px;
    color: black;
    height: 400px;
    
    
}

.cardContainer:hover {
    box-shadow: rgba(0,0,0,0.2) 3px 3px 3px 3px;
    
}


    

